
.chess > div > div {
    width: 50px;
    height: 50px;
    border: solid 1px;
    background-color: bisque;
}

.chess >div {
    display: flex;
}

.chess > :nth-child(odd) {
    width: 500px;
}

.chess > :nth-child(odd) > :nth-child(odd) {
    background-color: black;
}
.chess > :nth-child(even) > :nth-child(even) {
background-color: black;
}